APP_DIR=application
POSTGRES_DIR=./docker_config/postgres/data
POSTGRES_REPLICA_DIR=./docker_config/postgres/data_replica
POSTGRES_USER=notifications
POSTGRES_PASSWORD=notifications
POSTGRES_DB=notifications
REPLICATION_PASSWORD=replicator
RABBITMQ_DIR=./docker_config/rabbitmq/data
RABBITMQ_USER=notifications
RABBITMQ_PASSWORD=notifications
RABBITMQ_VHOST=/
WORKER_SMS_REPLICAS=3
WORKER_EMAIL_REPLICAS=3
